.body {
    margin: 0;
}

.header {
    background-color: rgba(62, 167, 36, 0.938);
}

.nav {
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__logo {
    width: 30px;
    padding-top: 10px;
    border-radius: 70px;
}

.nav__item{
    padding: 0px 10px;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
}

.nav__list {
    display: flex;
    list-style: none;
}

