:root {
    --theme-primary-color: #ffffff;
    --theme-secondary-color: #32C765;
    --theme-third-color: #c43494;
    --theme-fourth-color: #d6d6d6;
    --theme-color3: #24b44c;
    --theme-color2: #24b46c;
    --theme-color: #576871;
    --font-size: 16px;
}

.body {
    font-family: 'Open Sans', sans-serif;;
    margin: 0px;
}

header {
    background-color: var(--theme-primary-color);
    width: 100%;
}

.nav {
    display: block;
    text-align: center;
    padding: 20px 0px 8px;
}

.nav__logo {
    width: 50px;
}

.nav__list {
    justify-content: center;
    margin: 10px 0px;
    padding-left: 0px;
}

.nav__item {
    padding: 0px 15px;
}

.nav__link {
    color: var(--theme-color);
    text-decoration: none;
    font-size:var(--font-size);
    font-weight: 400;
}

.nav__link:hover {
    color: var(--theme-third-color);
    border-bottom: dashed 3px var(--theme-secondary-color);
}

.nav__list {
    display: flex;
    list-style: none;
}

.home {
    padding: 40px 40px;
    text-align: center;
}

.left {
    padding-bottom: 30px;
}
.home__description {
    color: var(--theme-color);
    text-align: justify;
}

.home__fondo {
    width: 300px;
    padding-bottom: 10px;
}

.home__title {
    color: var(--theme-third-color);
}

.right {
    text-align: center;
    padding: 40px 5px;
    margin: 0px 20px;
}

.home__form {
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 40px 5px;
}

.home__form--title {
    color: #20529c;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.home__form--input {
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 5px;

}

.home__form--option {
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 5px;
}

.home__form--button {
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.home__form--button:hover {
    background-color: #ffffff;
    color: #4CAF50;
}

.participantes {
    text-align: center;
    margin: 0px 50px 50px;
}

.participantes__title {
    color: #20529c;
}

.table, th, td {
    border: 1px solid #20529c;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.footer {
    padding: 40px 50px 10px;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
}

.container__icons {
    margin: 20px 0px;
}

.footer__link {
    text-decoration: none;
}

.footer__icons {
    width: 40px;
}

@media (min-width: 700px) {
    .header {
        position: fixed;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 18px 90px;
    }

    .nav__list {
        padding-top: 15px;
    }

    .nav__item {
        padding: 0px 15px;
    }

    .nav__logo {
        padding-top: 5px;
    }
    

    .home {
        display: flex;
    }

    .home__container {
        width: 50%;
    }

    .left {
        padding-top: 120px;
    }

    .right {
        margin: 0px 0px;
    }
}